"*":
  "activate-power-mode": {}
  "atom-alignment": {}
  "atom-beautify": {}
  "atom-ctags": {}
  "atom-fuzzy-grep": {}
  atomatigit: {}
  "autocomplete-paths":
    maxFileCount: 10000
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  "autoupdate-packages":
    handling: "Update automatically and silently"
  blame: {}
  "bracket-matcher": {}
  build: {}
  "clip-history": {}
  core:
    customFileTypes:
      "source.clojure": [
        "proton.symlink"
      ]
    disabledPackages: [
      "welcome"
      "hyperclick"
      "jsonlint"
      "wordcount"
      "build"
      "autocomplete-paths"
      "atomatigit"
      "linter-jshint"
      "atom-keymap"
      "linter-stylint"
      "Stylus"
      "zentabs"
      "atom-pair"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "vendor/assets"
      "*.png"
      "*.jpg"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  "cursor-history": {}
  "easy-motion-redux":
    replaceCharacters: "abcdefghijklmnopqrstuvwxyz"
  editor:
    fontFamily: "SourceCodePro-ExtraLight"
    fontSize: 16
    preferredLineLength: 120
  "exception-reporting": {}
  "file-icons": {}
  fonts:
    fontFamily: "Source Code Pro Extra Light"
  "fuzzy-finder": {}
  "git-blame": {}
  "git-diff": {}
  "git-plus": {}
  jsformat: {}
  "lazy-motion": {}
  linter:
    ignoreGlob: "**/@(schema|main_menu).rb"
    lintOnChangeInterval: 1500
  "linter-aspell": {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ruby": {}
  "linter-scss-lint": {}
  "linter-ui-default":
    decorateOnTreeView: "None"
    tooltipFollows: "Keyboard"
  narrow: {}
  proton:
    core:
      alwaysShowWelcomeScreen: false
      inputProvider: "vim-mode-plus"
      leaderKey: "space"
      modeKey: ","
      "post-init-timeout": 500
      quickOpenProvider: "normal"
      relativeLineNumbers: false
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
        "lang/ruby"
        "lang/javascript"
      ]
      showTabBar: true
      whichKeyDelay: 0.4
      whichKeyDelayOnInit: false
      whichKeyDisabled: false
      wipeUserConfigs: true
    lang:
      javascript:
        linter: "eslint"
  "recent-finder": {}
  rspec:
    command: "bundle exec rspec"
  "ruby-linter":
    rubyExecutablePath: "/usr/bin/ruby"
  "ruby-rubocop":
    executablePath: null
  "spell-check": {}
  "split-diff": {}
  "symbols-view": {}
  term2: {}
  "theme-switch":
    profiles: [
      "one-dark-ui atom-dark-syntax"
      "nucleus-dark-ui atom-dark-fusion-syntax"
      "atom-material-ui atom-material-syntax"
      "atom-dark-ui atom-dark-syntax"
      "atom-light-ui atom-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    charactersToAddSpaceOnSurround: [
      "{"
      "}"
    ]
    findAcrossLines: true
    findCharsMax: 2
    findConfirmByTimeout: 150
    ignoreCaseForSearchCurrentWord: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapIAndAToInsertAtTargetWhenHasOccurrence: true
    keymapPToPutWithAutoIndent: true
    keymapSToSelect: true
    keymapUnderscoreToReplaceWithRegister: true
    keymapYToYankToLastCharacterOfLine: true
    reuseFindForRepeatFind: true
    sequentialPaste: true
    sequentialPasteMaxHistory: 5
    statusBarModeStringStyle: "long"
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount: {}
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
