"*":
  "activate-power-mode":
    autoToggle: false
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "c7c30fc1-1969-4b83-9f34-eeb8fbad1ca6"
      analytics: false
      beautifyEntireFileOnSave: false
    js:
      indent_size: 2
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 15000
    cmdArgs: "--exclude=.git --exclude=log --exclude=coverage --exclude=tmp --exclude=vendor --exclude=node_modules --exclude=spec --exclude=fixtures --exclude=features --exclude=db --exclude=bin --exclude=public --exclude=tmp --exclude=app/assets"
  "atom-fuzzy-grep": {}
  atomatigit: {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  blame:
    dateFormat: "DD/MM/YY"
  "bracket-matcher": {}
  build:
    buildOnSave: true
    panelVisibility: "Show on Error"
    stealFocus: false
  "clip-history": {}
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "welcome"
      "spell-check"
      "hyperclick"
      "jsonlint"
      "wordcount"
      "build"
    ]
    packagesWithKeymapsDisabled: []
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  "cursor-history": {}
  "easy-motion-redux": {}
  editor:
    fontFamily: "SourceCodePro-Light"
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 120
  "exception-reporting":
    userId: "92fbfa32-55eb-71cf-9895-6d5562807114"
  "fuzzy-finder":
    ignoredNames: [
      "app/services/web_api/activity.rb"
    ]
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  jsformat:
    format_on_save: false
  "lazy-motion":
    saveHistoryOnCancel: false
  "linter-aspell":
    ignoredWords: "config,pearce,fettleton,orc,bonecruncher,aergon,API"
  "linter-rubocop":
    command: "/Users/jack/.rvm/gems/ruby-2.3.0@global/wrappers/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/jack/.rvm/rubies/ruby-2.1.3/bin/ruby"
  "linter-scss-lint":
    executablePath: "/Users/jack/.rvm/wrappers/ruby-2.1.3/scss-lint"
  "recent-finder": {}
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-view": {}
  term2: {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-next":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    groupChangesWhenLeavingInsertMode: false
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount: {}
".coffee.source":
  editor:
    preferredLineLength: 120
".cucumber.rspec.ruby.source.steps":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
    softWrap: true
".feature.gherkin.text":
  editor:
    preferredLineLength: 120
".html.ruby.text":
  editor:
    preferredLineLength: 120
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".json.source":
  editor:
    preferredLineLength: 120
".narrow.source":
  editor:
    preferredLineLength: 120
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
".rails.ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source.sql":
  editor:
    preferredLineLength: 120
