"*":
  editor:
    invisibles: {}
    fontFamily: "SourceCodePro-Light"
    fontSize: 16
    lineHeight: 1.3
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  "vim-mode":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  "exception-reporting":
    userId: "92fbfa32-55eb-71cf-9895-6d5562807114"
  welcome:
    showOnStartup: false
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "vim-surround": {}
  "git-diff": {}
  "atom-fuzzy-grep": {}
  "linter-rubocop":
    executablePath: "/Users/jack/.rvm/gems/ruby-2.1.3@agworld-3.2/bin/rubocop"
  linter:
    showErrorTabFile: false
  "atom-alignment": {}
  "tree-view": {}
  atomatigit: {}
  "git-plus": {}
  "clip-history": {}
  "lazy-motion":
    saveHistoryOnCancel: false
  "linter-ruby":
    rubyExecutablePath: "/Users/jack/.rvm/rubies/ruby-2.1.3/bin/ruby"
  "vim-mode-next":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  "easy-motion-redux": {}
  "cursor-history": {}
  "bracket-matcher": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=.git --exclude=log --exclude=coverage --exclude=tmp --exclude=vendor --exclude=node_modules"
    buildTimeout: 15000
