# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'up':          'pane:show-previous-item'
  'down':        'pane:show-next-item'
  'q':           'atom-keyboard-macros-vim:toggle_record_macro_vim'
  '@':           'atom-keyboard-macros-vim:execute_macro_vim'

  # ctags
  'space p shift-R': 'atom-ctags:rebuild'
  'ctrl-]':      'atom-ctags:go-to-declaration'
  'ctrl-t':      'atom-ctags:return-from-declaration'

  ':':           'ex-mode:open'

  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

  'space a d': 'window:toggle-dev-tools'

  ':': 'vim-mode-plus-ex-mode:open'

'atom-workspace':
  'ctrl-c ctrl-c': 'window:close'

'atom-text-editor.vim-mode-plus.insert-mode':
  'f d': 'vim-mode-plus:activate-normal-mode'
  'j k': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'space m': 'quick-highlight:toggle'
  'space M': 'quick-highlight:clear'

'atom-text-editor':
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'


'atom-text-editor.vim-mode-plus.normal-mode':
  'space n l': 'narrow:lines'
  'space n f': 'narrow:fold'
  'space o': 'narrow:fold'
  'space n s c': 'narrow:search-current-project'
  'space n s s': 'narrow:search'
  'space n c': 'narrow:focus'
