/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
.tree-view {
  font-size:110%;
  // font-family: 'Avenir Next Ultra Light';
}

atom-panel.modal.overlay {
  width: 700px;
  margin-left: -350px;
  .select-list {
    font-size: 130%;
    .list-group {
      max-height: 600px;
      .secondary-line {
        font-size: 75%;
      }
    }
  }
}

.badge {
  background: #4182c4;
}
linter-message {
  background: #ddd;
  font-size: 12px;
}
#linter-inline {
  background: #ddd;
  ::before {
    border-color: transparent transparent #ddd #ddd;
  }
}

// condense tree view a little bit
@tree-view-item-height: 23px;
.tree-view {
  .list-group .selected::before, .list-tree .selected::before {
    height: @tree-view-item-height;
  }
  .list-group li:not(.list-nested-item), .list-tree li:not(.list-nested-item), .list-group li.list-nested-item > .list-item, .list-tree li.list-nested-item > .list-item {
    line-height: @tree-view-item-height;
  }
}

atom-text-editor::shadow .gutter.git-diff-icon .line-number {
  &.git-line-modified::before {
    color: #fa0;
    content: "~";
  }
  &.git-line-added::before {
    color: #0e4;
  }
  &.git-line-removed::before {
    color: #f30;
    content: "x";
  }
}

atom-text-editor::shadow .line-number.cursor-line,
atom-text-editor::shadow .line-number::before,
{
  color: rgba(255,255,255,255);
  opacity: 1.0;
}

atom-text-editor::shadow .line-number {
  color: rgba(255,255,255,0.6);
  opacity: 1.0;
}

atom-text-editor::shadow .linter-gutter.linter-highlight {
  height: 90% !important;
  width: 25%;
  border-radius: 0;
  &.warning {
    background-color: #f80;
  }
  &.error {
    background-color: #f00;
  }
}

// style the background and foreground colors on the atom-text-editor-element
// itself
// atom-text-editor {
//
// }

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
// atom-text-editor::shadow .cursor {
// }

atom-overlay .easy-motion-redux-letter {
  position: absolute;
  // z-index: 1;
  background-color: orange !important;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  font-style: italic;
}
div.line.cursor-line {
  background-color: black !important;
}
